@import '../../styles/_app.variables.scss';
@import '~@angular/material/theming';

.navigation-drawer {
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(0);
  transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;
  z-index: 16;
  width: 240px;

  @media screen and (max-width: $tablet-min-width) {
    &:not(.show-side-nav) {
      box-shadow: none;
      transform: translateX(-100%);
      transition: transform $swift-ease-in-duration $swift-ease-in-timing-function;
    }
  }

  @media #{$tablet-screen} {
    width: map-get($tablet, navigation-drawer-width);
  }
}

.navigation-overlay {
  height: 100%;
  left: -100%;
  position: fixed;
  top: 0;
  transition: background-color $swift-ease-out-duration $swift-ease-out-timing-function, left linear 0s $swift-ease-out-duration;
  width: 100%;
  z-index: 15;

  @media screen and (max-width: $tablet-min-width) {
    &.show-side-nav {
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
      transition: background-color $swift-ease-in-duration $swift-ease-in-timing-function;
      left: 0;
    }
  }
}

.navigation-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  @media #{$portrait-screen} {
    font-size: map-get($portrait, toolbar-font-size);
    line-height: map-get($portrait, toolbar-height);
    min-height: map-get($portrait, toolbar-height);
    padding-left: map-get($portrait, screen-padding);
    padding-right: map-get($portrait, screen-padding);
  }

  @media #{$landscape-screen} {
    font-size: map-get($landscape, toolbar-font-size);
    line-height: map-get($landscape, toolbar-height);
    min-height: map-get($landscape, toolbar-height);
    padding-left: map-get($landscape, screen-padding);
    padding-right: map-get($landscape, screen-padding);
  }

  @media #{$tablet-screen} {
    font-size: map-get($tablet, toolbar-font-size);
    line-height: map-get($tablet, toolbar-height);
    min-height: map-get($tablet, toolbar-height);
    padding-left: map-get($tablet, screen-padding);
    padding-right: map-get($tablet, screen-padding);
  }

  &--name {
    vertical-align: middle;
  }

  &--selected {
    opacity: 1;
    font-weight: bold;
  }
}

.navigation-group {
  @media #{$portrait-screen} {
    margin-top: map-get($portrait, content-margin-top);
    padding-left: map-get($portrait, screen-padding);
    padding-right: map-get($portrait, screen-padding);
  }

  @media #{$landscape-screen} {
    margin-top: map-get($landscape, content-margin-top);
    padding-left: map-get($landscape, screen-padding);
    padding-right: map-get($landscape, screen-padding);
  }

  @media #{$tablet-screen} {
    margin-top: map-get($tablet, content-margin-top);
    padding-left: map-get($tablet, screen-padding);
    padding-right: map-get($tablet, screen-padding);
  }

  &--title {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;

    @media #{$portrait-screen} {
      font-size: map-get($portrait, body-font-size);
      line-height: map-get($portrait, navigation-title-height);
      min-height: map-get($portrait, navigation-title-height);
    }

    @media #{$landscape-screen} {
      font-size: map-get($landscape, body-font-size);
      line-height: map-get($landscape, navigation-title-height);
      min-height: map-get($landscape, navigation-title-height);
    }

    @media #{$tablet-screen} {
      font-size: map-get($tablet, body-font-size);
      line-height: map-get($tablet, navigation-title-height);
      min-height: map-get($tablet, navigation-title-height);
    }
  }

  &--item {
    @media #{$portrait-screen} {
      line-height: map-get($portrait, navigation-item-height);
      min-height: map-get($portrait, navigation-item-height);
    }

    @media #{$landscape-screen} {
      line-height: map-get($landscape, navigation-item-height);
      min-height: map-get($landscape, navigation-item-height);
    }

    @media #{$tablet-screen} {
      line-height: map-get($tablet, navigation-item-height);
      min-height: map-get($tablet, navigation-item-height);
    }
  }
}

.app-toolbar {
  position: fixed;
  top: 0;
  z-index: 8;

  @media #{$portrait-screen} {
    font-size: map-get($portrait, toolbar-font-size);
    min-height: map-get($portrait, toolbar-height);
    padding-left: map-get($portrait, screen-padding);
    padding-right: map-get($portrait, screen-padding);
  }

  @media #{$landscape-screen} {
    font-size: map-get($landscape, toolbar-font-size);
    min-height: map-get($landscape, toolbar-height);
    padding-left: map-get($landscape, screen-padding);
    padding-right: map-get($landscape, screen-padding);
  }

  @media #{$tablet-screen} {
    font-size: map-get($tablet, toolbar-font-size);
    min-height: map-get($tablet, toolbar-height);
    margin-left: map-get($portrait, navigation-drawer-width);
    padding-left: map-get($tablet, screen-padding);
    padding-right: map-get($tablet, screen-padding);
    width: calc(100% - #{map-get($portrait, navigation-drawer-width)});
  }
}

.app-toolbar-row {
  font-weight: normal;

  @media #{$portrait-screen} {
    height: map-get($portrait, toolbar-height);
  }

  @media #{$landscape-screen} {
    height: map-get($landscape, toolbar-height);
  }

  @media #{$tablet-screen} {
    height: map-get($tablet, toolbar-height);
  }
}

.hamburger-button {
  cursor: pointer;

  @media #{$tablet-screen} {
    cursor: default;
    opacity: 0.34;
  }
}

.empty-row {
  display: none;
}

.fill-remaining {
  flex: 1 1 auto;
}

.avatar-icon--search {
  cursor: pointer;
}
/* Done so that a class can be applied to a row, but md-toolbar inserts its own no matter what. */
/deep/ md-toolbar-row:first-of-type {
  display: none !important;
}

.screen {
  background-color: #fafafa;

  @media #{$portrait-screen} {
    margin-top: map-get($portrait, toolbar-height);
    padding-left: map-get($portrait, screen-padding);
  }

  @media #{$landscape-screen} {
    margin-top: map-get($landscape, toolbar-height);
    padding-left: map-get($landscape, screen-padding);
  }

  @media #{$tablet-screen} {
    margin-left: map-get($tablet, navigation-drawer-width);
    margin-top: map-get($tablet, toolbar-height);
    padding-left: map-get($tablet, screen-padding);
  }
}
